.glass-container {
  display: block;
  height: 256px;
  margin: 2rem auto;
  pointer-events: none;
  position: relative;
  width: 256px;
}

.glass {
  position: absolute;
}

.glass path {
  fill: #888;
  opacity: 0.25;
}

.cube-wrapper {
  bottom: 30px;
  display: block;
  padding-bottom: 25%;
  position: absolute;
  width: 100%;
}

.cube {
  background-color: #888;
  border-radius: 8px;
  border: 5px solid #eee;
  display: block;
  opacity: 0.4;
  padding-bottom: 25%;
  position: absolute;
  width: 25%;
}
.cube:after {
  border-left: 5px solid #eee;
  border-radius: 5px;
  border-top: 5px solid #eee;
  content: "";
  display: block;
  height: 30%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 30%;
}
.cube.one {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: swing-one;
  bottom: 25px;
  left: 20px;
  transform: rotate(15deg);
  transition-timing-function: ease-in-out;
}
.cube.two {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: swing-two;
  bottom: 35px;
  left: 90px;
  transform: rotate(35deg);
  transition-timing-function: ease-in-out;
}
.cube.three {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: swing-three;
  bottom: 15px;
  left: 160px;
  transform: rotate(-15deg);
  transition-timing-function: ease-in-out;
}

@keyframes swing-one {
  0% {
    transform: translateY(0px) rotate(15deg);
  }
  50% {
    transform: translateY(-10px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(15deg);
  }
}
@keyframes swing-two {
  0% {
    transform: translateY(0px) rotate(35deg);
  }
  50% {
    transform: translateY(-10px) rotate(40deg);
  }
  100% {
    transform: translateY(0px) rotate(35deg);
  }
}
@keyframes swing-three {
  0% {
    transform: translateY(0px) rotate(-15deg);
  }
  50% {
    transform: translateY(-10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0px) rotate(-15deg);
  }
}
.shadow {
  background-color: #8d5524;
  border-radius: 1000px;
  bottom: -45%;
  display: block;
  left: 50%;
  margin-left: -50%;
  opacity: 0.1;
  padding-bottom: 100%;
  position: absolute;
  transform: scaleY(0.15) scaleX(1.25);
  width: 100%;
}

@keyframes swing-side {
  0% {
    transform: translateX(2px) skew(-8deg);
  }
  50% {
    transform: translateX(-2px) skew(-8deg);
  }
  100% {
    transform: translateX(2px) skew(-8deg);
  }
}

#liquid {
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  display: block;
  height: 105px;
  opacity: 0.85;
  overflow: hidden;
  position: absolute;
  bottom: 40px;
  width: 240px;
  left: 8px;
}

.wave {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: wave;
  background: #8d5524;
  bottom: 0;
  display: inline-block;
  height: 80%;
  position: absolute;
  transform-origin: 50% 100%;
  transition-timing-function: linear;
  width: 8px;
}

footer {
  bottom: -10%;
  font-size: x-small;
  position: absolute;
  text-align: center;
  width: 100%;
}

@keyframes wave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.15);
  }
  100% {
    transform: scaleY(1);
  }
}
